<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title th:text="${title}">Nueva</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#" th:text="${university}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="jumbotron text-center">
        <h3 class="text-center" th:text="${description}"></h3>

        <table class="table table-borderless">
            <thead>
            <tr>
                <th scope="col" class="text-center">Fecha Actual</th>
                <th scope="col" class="text-center">Nombre Servidor</th>
                <th scope="col" class="text-center">Direcci&oacute;n Ip</th>
                <th scope="col" class="text-center">Usuario</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${datetime}" class="text-center">fecha</td>
                <td th:text="${name}" class="text-center">nombre</td>
                <td th:text="${ip}" class="text-center">ip</td>
                <td th:text="${username}" class="text-center">usuario</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>